@import "common.module";

.blog {

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    a {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 500;
      font-size: 24.0212px;
      color: #6A9BFB;
    }
  }

  &__wrapper {
    display: flex;
    gap: 25px;
  }
}