@import 'common.module';

.footer {
  color: #fff;

  .action {
    padding: 105px 0 115px 0;
    background-color: #061929;

    .container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 30px 25px;

      > div {
        h2 {
          color: inherit;
          line-height: 52px;
          font-weight: 400;
          margin-bottom: 56px;
          width: 340px;
        }

        p {
          width: 340px;
          font-weight: 500;
          font-size: 22px;
          line-height: 30px;

          a {
            text-decoration-line: underline;
            color: #6A9BFB;
          }
        }
      }

      .form {
        &__title {
          font-size: 40px;
          line-height: 35px;
          margin-bottom: 100px;
        }

        &__fields {
          display: flex;
          gap: 53px;

          input {
            padding: 33px 0;
            display: flex;
            font-weight: 500;
            font-size: 22px;
            color: #fff;
            background-color: inherit;
            border-bottom: 3px solid #E9E9E9;
            flex-grow: 1;

            &::placeholder {
              color: #BFBFBF;;
            }

            &:first-of-type {
              flex-grow: 2;
            }
          }
        }

        &__info {
          margin: 40px 0 34px 0;
          color: #9D9D9D;
        }

        button {
          width: 270px;
          height: 53px;
          color: #fff;
          background-color: #6A9BFB;
          border-radius: 50px;
          font-weight: 500;
          font-size: 20px;
          letter-spacing: 0.015em;
          transition: all .3s ease;

          &:hover {
            background-color: #2862D2;
            box-shadow: inset 0px 0px 27px rgba(250, 250, 250, 0.32);
          }
        }
      }
    }
  }

  .contacts {
    background-color: #051320;
    padding: 27px 0 34px 0;
    border-bottom: 2px solid #F0EDED;

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      align-items: center;
    }

    &__item {
      a {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        display: inline-flex;
        margin-top: 3px;
      }
    }
  }

  .nav {
    padding: 37px 0 50px 0;
    background-color: #051320;

    nav {
      display: flex;
      align-items: center;
      column-gap: 100px;

      a {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}


@media screen and (max-width: 1599px) {
  .footer {
    .action {
      .container {
        .form {
          &__title {
            font-size: 34px;
            margin-top: 12px;
            margin-bottom: 95px;
          }

          &__fields {
            input {
              font-size: 18px;
              padding: 20px 0;
            }
          }

          &__info {
            font-size: 14px;
            margin: 20px 0 30px 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    .action {
      padding: 80px 0 70px 0;

      .container {
        grid-template-columns: 1fr;

        > div {
          h2 {
            margin-bottom: 30px;
          }

          p {
            font-size: 18px;
            line-height: 24px;
          }
        }

        .form {
          &__title {
            font-size: 26px;
            line-height: 30px;
            margin-top: 0;
            margin-bottom: 30px;
          }

          &__info {
            font-size: 12px;
            margin: 30px 0 45px 0;
          }
        }
      }
    }

    .contacts {
      .container {

      }

      &__logo {
        grid-column: span 3;
        margin-bottom: 5px;

        img {
          max-width: 210px;
        }
      }

      &__item {
        p {
          font-size: 12px;
          line-height: 16px;
        }

        a {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .nav {
      nav {
        column-gap: 70px;

        a {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .footer {
    .action {
      .container {
        .form {
          &__fields {
            flex-direction: column;
            gap: 30px;
          }
        }
      }
    }

    .contacts {
      .container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .nav {
      nav {
        display: grid;
        grid-gap: 20px 70px;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
