body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

h1 {
  font-weight: 500;
  font-size: 111px;
  line-height: 111px;
  color: #484848;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 80px;
  color: #242424;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}

@media screen and (max-width: 1599px) {
  h1 {
    font-size: 70px;
    line-height: 75px;
  }

  h2 {
    font-size: 44px;
    line-height: 50px;
  }

  h3 {
    font-size: 22px;
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }

  h2 {
    font-size: 32px;
    line-height: 43px;
  }

  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}


