.post {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 40px;
  height: 590px;
  padding-bottom: 25px;


  &__img {
    position: relative;
    height: 350px;

    div {
      position: absolute;
      left: 0;
      width: 100%;
      height: 90px;
      background: linear-gradient(360deg, rgba(23, 29, 37, 0.78) -20.06%, rgba(23, 29, 37, 0.507799) 21.62%, rgba(23, 29, 37, 0) 99.39%);
    }
    div:first-of-type {
      top: 0;
      transform: rotate(-180deg);
      border-radius: 0 0 40px 40px;
    }

    div:last-of-type {
      bottom: 0;
    }

    img {
      border-radius: 40px 40px 0 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 20px;
    position: relative;

    .tags {
      color: #1D9AD3;
      display: flex;
      flex-wrap: wrap;
      column-gap: 21px;
      padding-right: 50px;
    }

    .views {
      display: flex;
      align-items: center;
      gap: 10px;
      color: rgba(26, 26, 26, 0.5);
      position: absolute;
      top: 0;
      right: 25px;
    }
  }

  p {
    padding: 0 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #1C1C1C;
    margin: 10px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
  }
}


@media screen and (max-width: 1599px) {
  .post {
    height: 540px;
    &__img {
      height: 210px;
    }

    &__info {
      .tags {
        column-gap: 10px;
        font-size: 14px;
      }

      .views {
        transform: scale(0.8);
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .post {
    height: 480px;
  }
}

@media screen and (max-width: 992px) {
  .post {
    height: auto;

    &__img {
      height: 350px;
    }

    &__info {
      .tags, .views {
        font-size: 12px;
        line-height: 15px;
      }

      .views {
        img {
          transform: scale(0.7);
          margin-right: -5px;
        }
      }
    }

    &__title {
      font-size: 16px;
      line-height: 20px;
      margin: 5px 0 10px 0;
    }

    &__text {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 575px) {
  .post {
    &__img {
      height: 225px;
    }
  }
}
