@import "common.module";

.posts {
  background-color: #f5f5f5;
  padding-bottom: 170px;

  .container {
    margin-top: 64px;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__filter {
    display: flex;
    column-gap: 25px;

    button {
      padding: 13px 50px;
      color: #414141;
      background-color: #fff;
      box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.08);
      border-radius: 48px;
      font-size: 18px;
      transition: all .3s ease;

      &.active {
        background: #6A9BFB;
        color: #fff;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}

@media screen and (max-width: 1700px) {
  .posts {
    &__title {
      white-space: nowrap;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      margin-bottom: 20px;
    }

    &__filter {
      max-width: 100%;
      padding: 10px 0 30px 0;
      overflow-x: auto;
    }
  }
}

@media screen and (max-width: 1199px) {
  .posts {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 991px) {
  .posts {
    &__filter {
      button {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 40px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .posts {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}